body {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}



    table, th, td{
      border-collapse: collapse;
      border: 1px lightgrey solid;
      padding: 10px;
      margin: 0 auto;
    }
    .btn {
      background-color: lightblue;
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 0 auto;
    }
    .btn:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.03);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.2s ease-in-out;

    }
    a{
      color: white;
      text-decoration: none
    }
    .flexbox{
        margin: 0 auto; 
        display:flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        text-align: center
      }
    .box{
      min-width: 280px;
      max-width: 300px;
      border: 1px solid lightgrey;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    input{
      padding: 15px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px lightgrey solid;
    }
